.btn {
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 2rem;
  color: white;
  padding: 1.125rem 6rem;
  background: $Gradient;
  background-size: 100%;
  @extend %tr;

  &:hover {
    background-position: right;
    background-size: 200%;
  }

  &.btn-cta {
    padding: 1rem 2rem;
  }
}

.article-link {
  color: rgba($Cyan, 0.7);
  padding-bottom: 0.2rem;
  border-bottom: 1px solid $Cyan;
  @extend %tr;

  &:hover {
    color: white;
    border-color: white;

    i {
      color: white;
    }
  }

  i {
    font-size: 0.75rem;
    margin-left: 0.5rem;
    color: $Cyan;
    @extend %tr;
  }
}

input {
  outline: none;
  border: none;
  border-radius: 2rem;
  padding: 1rem 2.25rem;
  width: 100%;
  font-family: inherit;
}
