@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap");

$Dark-Blue-intro-and-email: hsl(217, 28%, 15%);
$Dark-Blue-main: hsl(218, 28%, 13%);
$Dark-Blue-footer: hsl(216, 53%, 9%);
$Dark-Blue-testimonials: hsl(219, 30%, 18%);
$Cyan: hsl(176, 68%, 64%);
$Gradient: linear-gradient(to right, #4ad4dc, hsl(198, 60%, 50%));
$Blue: hsl(198, 60%, 50%);
$Light-Red: hsl(0, 100%, 63%);
$Dim-White: rgba(white, 0.5);

%tr {
  transition: 0.3s ease;
}

$laptop: 1140px;
$tablet: 840px;
$mobile: 540px;

@mixin laptop {
  @media screen and(max-width:$laptop) {
    @content;
  }
}
@mixin tablet {
  @media screen and(max-width:$tablet) {
    @content;
  }
}
@mixin mobile {
  @media screen and(max-width:$mobile) {
    @content;
  }
}
